<link rel="stylesheet" href="/static/style.css">

<h2>Book Stay</h2>

<form method="POST">

<input type="text" name="name" placeholder="Name">

<input type="email" name="email" placeholder="Email">

<input type="text" name="phone" placeholder="Phone">

<input type="text" name="place" placeholder="Place">

<input type="text" name="stay" placeholder="Stay Name">

<input type="text" name="duration" placeholder="Duration">

<input type="number" name="price" placeholder="Price">

<button>Book</button>

</form>